/*.body{
    background-color: #0d3c62;
    display: flex;
    flex-direction : column;
    max-width : 100%;
    font-size : 100%;
}

.img{
    max-width: 10%;

}
.nav ul{
    list-style-type: none;
    display: flex;
    flex-direction : column;

}*/

body {
    background: linear-gradient(#0d3c62, #0d3c62);


}

header{
    margin-top:0;
    padding-right: 0px;
    padding-left: 0px;
    top: 0; /* Position the navbar at the top of the page */
    background-color : #0d3c62;


}

/* Colonne gauche*/
.ramsay{
    width: 100%;
    display: flex;
    flex-direction : row;
    justify-content: center;


}

/*Banderole*/
.bannière{
    max-width: 100%;



}
.bannière img {
    width: 100%;


}


/*logo*/
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    max-width: 100%;

}


/* Barre de menu*/
.menu {

    width : 100em;
    align-self: end;
    padding :0;



}

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction : column;
    padding-left: 0;,



}

nav li
{
    margin-top: 1%;
    margin-bottom:1%;
    max-width:50%;
    height : auto;

}

nav a, select
{   font-family: 'Poppins', sans-serif;
    font-size: 150%;
    color: #FBFCFC ;
    padding-bottom: 3px;
    text-decoration: none;

}

nav a:hover, select:hover
{   color: #f58231;
    border-bottom: 3px solid #d65a31;
}
.video {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color: #FBFCFC ;
    padding-bottom: 3px;
    text-decoration: none;
}

.video:hover, select:hover
{   color: #f58231;
    border-bottom: 3px solid #d65a31;
}
/* Design*/

.design {
    display: flex;
    flex-direction : row;
    max-width : 100%;
    border-bottom: 10px solid #f58231;


}

.femme {
    max-width : 50%;

}

.femme img
{
    max-width : 100%;
    height: auto;


    /*padding-left : 550px;*/

}




/* body*/

main {
    font-family: 'Poppins', sans-serif;
    color: #FFF5EE;
    line-height : 150%;
    padding-bottom: 3px;
    text-decoration: none;
    position: relative;
    top: 50%;
    margin-left: 5%;
    margin-right: 5%;


}

.titre, .article,.p {
    margin-top : 2em;
    text-align: center;

}

.titre{
    font-size : 200%;
    text-decoration: underline overline #f58231;
    color: #f58231 ;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size : 1em;


}

.article2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size : 1em;


}

.article2 img {
    width: 5%;

}

.article p{
    text-align: justify;
    width : 100%;

}

.imp {
    color:#FFFFFF;
    text-decoration: #f58231;
    font-size : 100%;
    text-transform: uppercase;

}

.liste {
    margin-left : 3em;

}
.ateliers {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    line-height: 200%;
}

a img{
    max-width: 20%;

}

.stands{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    line-height: 200%;
}

.article3{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size : 1em;


}
.article3 img {
    width: 25%;

}
.video-responsive{{
 overflow:hidden;
 padding-bottom:56.25%;
 position:relative;
 height:0;
}
.video-responsive iframe {
 left:0;
 top:0;
 height:100%;
 width:100%;
 position:absolute;
}


